/*
 Theme Name:   Basel Child
 Description:  Basel Child Theme
 Author:       XTemos
 Author URI:   http://xtemos.com
 Template:     basel
 Version:      1.0.0
 Text Domain:  basel-child
*/


/* Your customizations starts here */

header.entry-header.centreTxt .tax_logo {
    height: 200px;
    width: 200px;
    background: #fff;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

header.entry-header.centreTxt .tax_logo img {
    max-width: 80%;
}

header.entry-header.centreTxt .textWrapper {
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
    vertical-align: middle;
    text-align: left !important;
}

/*
* search form
*/

.homebanner {
    /*background: url('../assets/bannerimg.jpg')no-repeat center center;*/
    background-size: cover;
    text-align: center;
}

.banner-container {
    max-width: 1170px;
    margin: 0 auto;
}

.homebanner-content {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.homebanner-content h2 {
    font-size: 40px;
    color: #fff;
    margin: 0 0 50px;
}

.bannerform .form-group {
    display: inline-block;
    vertical-align: top;
    width: 21%;
    margin-right: -4px;
    margin-bottom: 0px;
}

.bannerform .form-group.hasbtn {
    width: auto;
}

.site-btn {
    background: #01acbd;
    color: #fff;
    border: none;
    padding: 27px 23px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin-left: 0px;
}

.site-btn img {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.homebanner .bannerform {
    margin: 0 30px 30px;
}

.homebanner-content p {
    text-decoration: underline;
    color: #fff;
    font-size: 18px;
}

body .select2-container .select2-selection {
    padding: 20px 15px;
    height: 70px;
    border: none;
    font-size: 16px;
}

body .select2-container .select2-selection .select2-selection__arrow {
    height: 65px;
}

body .select2-container .select2-selection .select2-selection__rendered {
    line-height: 30px;
}

.haslradius .select2-container .select2-selection {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

ul#select2-velgpris-results li.select2-results__option--highlighted {
    background: #701800;
}

.select2-results__option {
    padding: 8px 15px;
}


@media screen and (max-width: 767px) {

    .banner-container {
        max-width: 100%;
    }

    .bannerform .form-group,
    .bannerform .form-group.hasbtn {
        width: 100%;
    }

    .bannerform .form-group {
        margin: 0 0 10px;
    }

    .site-btn {
        width: 100%;
    }

    body .select2-container .select2-selection {
        padding: 10px 15px;
        height: 50px;
        font-size: 15px;
    }

    .haslradius .select2-container .select2-selection {
        border-radius: 0px;
    }

    body .select2-container .select2-selection .select2-selection__arrow {
        height: 45px;
    }

    .site-btn {
        border-radius: 0px;
        padding: 15px 20px;
    }

    .homebanner-content h2 {
        font-size: 30px;
        margin: 0 0 20px;
    }

    .homebanner-content p {
        font-size: 16px;
    }

}

div#home_banner_price {
    height: 8px;
    background: #c5c5c5;
    box-shadow: none;
    margin-top: 8px;
    border-radius: 50px;
}
#home_banner_price .noUi-handle:before, .noUi-handle:after {
    background: transparent;
}
#home_banner_price .noUi-connect {
    background: #585858;
}
.rangeslider .form-group {   
    width: 95%;
    margin: 0 auto;   
}
.rangevalue {
    float: left;
}
.rangevalue_right {
    float: right;
}
.rangedisplay {
    margin-top: 10px;
    font-size: 14px;
}
.noUi-horizontal .noUi-handle {
    left: -10px !important;

}
#home_banner_price .noUi-handle.noUi-handle-lower {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #822528;
    box-shadow: none;
}
#home_banner_price .noUi-handle.noUi-handle-upper {
    width: 18px;
    height: 18px;
    background: #812528;
    box-shadow: none;
    border-radius: 50%;
}
.chosen-container-single .chosen-single span {
    line-height: 33px;
}
span.banner_min_price, span.banner_max_price {
    color: #812528;
    font-size: 15px;
    font-weight: bold;
}
.noUi-handle.noUi-handle-lower:focus, .noUi-handle.noUi-handle-upper:focus {
    outline: 0;
}
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chosen-container-single .chosen-single {
    border: 1px solid #ddd;
    box-shadow: none;
    background: #fff;
    border-radius: 0px;
    height: 35px !important;
}
.chosen-container-single .chosen-single span {
    line-height: 33px;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.product-filter .select-holder {
    margin-bottom: 10px;
    position: relative;
}
.chosen-container-single .chosen-single div b {
    background-position: 0 8px!important;
}